<span class="fillSpace"></span>
<mat-card class="mainCard">
  <mat-card-title>Marmi Mosti Massa S.a.s</mat-card-title>
  <mat-card-subtitle>Di Francesco Mosti & C.</mat-card-subtitle>
  
  <mat-card-content>
      <img mat-card-image src="../../assets/img/HomePhoto.gif" alt="">
      La Marmi Mosti Massa affonda le sue radici nel settore lapideo nel 1955, ed ha sviluppato negli anni una sempre maggiore esperienza nella lavorazione di marmi, pietre e graniti provenienti da tutto il mondo sviluppando sempre migliori tecniche di lavorazione grazie ad un continuo ammodernamento tecnologico ed un perfezionamento dei processi produttivi.
      La gamma dei prodotti da noi realizzati spazia dai più semplici ai più preziosi lavorati in marmo, offrendo, in ogni nostra produzione, massima professionalità e cura dei particolari, così da fornire ogni volta ai nostri clienti merce di grande qualità.
      Grazie alla nostra esperienza siamo in grado di soddisfare ogni vostra esigenza, di realizzare lavorazioni secondo vostra richiesta o di proporvi disegni di nostra creatività.
      Nelle sezioni Intarsi e Sagomati si possono vedere le nostre realizzazioni, fotografate durante la lavorazione e la prova.
    </mat-card-content>

<app-footer></app-footer>

</mat-card>
<span class="fillSpace"></span>

<!---

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.5551855738745!2d10.088840015281535!3d44.030585735963534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d508b2d378967b%3A0xdda785fe74d9cc2!2sMarmi+Mosti+Massa+E+C.+S.A.S.+Di+Mosti+Francesco!5e0!3m2!1sit!2sit!4v1560272643642!5m2!1sit!2sit" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>


-->