@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: block;
}


app-chisiamo, app-contattaci, app-lavori{
    display: flex;
}

.fillSpace {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
